<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello Lambda</title>
  </head>
  <body>
    <h1>Hello Lambda</h1>
    <p>Indexページです。</p>
    <p>{{ master.request.username }}</p>
    <!-- <a href="{{ static(master, 'css/custom.css') }}">custom.css</a> -->
    <p>
      {% if master.request.auth %}
      <a href="{{ reverse(master, 'logout') }}">logout</a>
      {% else %}
      <a href="{{ get_login_url(master) }}">login</a>
      <a href="{{ get_signup_url(master) }}">signup</a>
      {% endif %}
    </p>
    <p>
      <a href="{{ reverse(master, 'sample', parameter='sample-1') }}">sample-1</a>
    </p>
    <p>
      <a href="{{ reverse(master, 'sample', parameter='sample-2') }}">sample-2</a>
    </p>
    <p>
      <a href="{{ reverse(master, 'sample', parameter='sample-3') }}">sample-3</a>
    </p>
    <p>
      <a href="{{ reverse(master, 'example:home') }}">app-example</a>
    </p>
  </body>
</html>
