{% extends 'base.html' %}
{% block extra_css %}
<script defer src="https://cdn.jsdelivr.net/npm/shogi-player@1.1.24"></script>
<link rel="stylesheet" href="{{ static(master, 'css/shogi.css') }}">
<link rel="stylesheet" href="{{ static(master, 'css/detail.css') }}">
{% endblock extra_css %}

{% block title %}棋譜{% endblock title %}

{% block content %}
<div class="padding-all">
  {% if type == 'normal' %}
  <div class="card">
    <div class="card-content">
      <h3 class="title is-3 has-text-centered">{{ slug }}</h3>
      <div class="columns">
        <div class="column">
          <div class="meta-info">
            <label class="label">作成日時</label>
            <p>{{ created }}</p>
          </div>
          <div class="meta-info">
            <label class="label">最終更新</label>
            <p>{{ latest_update }}</p>
          </div>
          {% if kifu_tags and kifu_tags|length > 0 %}
          <div class="meta-info">
            <label class="label">タグ</label>
            <div class="tags">
              {% for tag in kifu_tags %}
                <span class="tag is-info is-light">{{ tag.tname }}</span>
              {% endfor %}
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  {% if memo %}
  <div class="card">
    <div class="card-content">
      <h4 class="title is-4">メモ</h4>
      <div class="content">
        <pre class="kifu-text">{{ memo }}</pre>
      </div>
    </div>
  </div>
  {% endif %}

  {% if type == 'normal' %}
  <div class="action-buttons field is-grouped">
    <p class="control">
      <a href="{{ reverse(master, 'kifu:edit', username=username, kid=kid) }}" class="button is-light">
        <span>編集</span>
      </a>
    </p>
    {% if not share %}
    <span hidden>
    {% endif %}
    <p class="control">
      <a id="share-link" href="{{ reverse(master, 'kifu:share', share_code=share_code) }}" class="button is-light is-info">
        <span>共有ページ</span>
      </a>
    </p>
    <p class="control">
      <button id="copy-button" class="button is-info is-light">
        <span>共有URLをコピー</span>
      </button>
    </p>
    {% if not share %}
    </span>
    {% endif %}
  </div>
  {% endif %}

  <div class="card shogi-player-container">
    <div class="card-content">
      <shogi-player-wc
        id="sp"
        sp_body="
          {{ kifu }}
        "
        sp_turn="0"
        sp_controller="true"
        sp_slider="true"
        sp_mode="view"
        sp_coordinate="true"
        sp_overlay_nav="true"
      ></shogi-player-wc>
    </div>
  </div>
  
  <div class="field">
    {# <button id="view-button" class="button is-info is-fullwidth"> #}
    <button id="view-button" class="button is-info">
      <span>本筋</span>
    </button>
    <button id="play-button" class="button is-light">
      <span>継盤</span>
    </button>
  </div>

  <div class="field">
    <button id="viewpoint-button" class="button is-info is-light is-fullwidth">
      <span>盤面反転</span>
    </button>
  </div>

  {% if master.request.auth %}
  <div class="field">
    <button id="analyze-button" class="button is-info is-light is-fullwidth">
      <span>解析</span>
    </button>
  </div>
  {% endif %}

  <div class="card">
    <div class="card-content">
      <h4 class="title is-4">棋譜</h4>
      <pre class="kifu-text">{{ kifu }}</pre>
    </div>
  </div>
</div>
{% endblock content %}

{% block extra_js %}
{% if master.request.auth %}
<script src="{{ static(master, 'js/analysis.js') }}"></script>
{% endif %}
{% if share %}
<script src="{{ static(master, 'js/clip.js') }}"></script>
{% endif %}
{% endblock extra_js %}
