{% extends 'base.html' %}
{% block extra_css %}
{% endblock extra_css %}

{% block title %}ホーム{% endblock title %}

{% block content %}
{# <div class="padding-top-10 padding-bottom-10"> #}
<div class="padding-all">
  <h1 class="title is-1 has-text-centered">ホーム</h1>
  {% if type == "edit" %}
  <form class="" action="{{ reverse(master, 'kifu:edit', username=username, kid=kid) }}" method="post">
    {{ form.csrf_token }}
    <button type="submit" name="action" value="end" class="button is-link">保存して終了</button>
    <button type="submit" name="action" value="continue" class="button is-link">保存して継続</button>
    <a href="{{ reverse(master, 'kifu:delete', username=master.request.username, kid=kid) }}" onclick="return confirm('本当に削除しますか？');" class="button is-danger is-light">削除</a>
    <a href="{{ reverse(master, 'kifu:detail', username=username, kid=kid) }}" class="button is-link is-light">戻る</a>
  {% elif type == "create" %}
  <form class="" action="{{ reverse(master, 'kifu:create', username=master.request.username) }}" method="post">
    {{ form.csrf_token }}
    <button type="submit" name="action" value="end" class="button is-link">保存して終了</button>
    <button type="submit" name="action" value="continue" class="button is-link">保存して継続</button>
    <a href="{{ reverse(master, 'kifu:index', username=master.request.username) }}" class="button is-link is-light">戻る</a>
  {% endif %}
    {% if error_message %}
    <p>{{ error_message }}</p>
    {% endif %}
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">スラッグ：</label>
      </div>
      <div class="field-body">
        <div class="field has-addons">
          <div class="control">
            {{ form.slug }}
          </div>
          <div class="control">
            <button type="button" id="generate-slug" class="button is-info">
              生成
            </button>
          </div>
          <div class="control">
            <span class="button is-static">.kif</span>
          </div>
        </div>
      </div>
    </div>
    <p>公開　　：{{ form.public }}</p>
    <p>共有　　：{{ form.share }}</p>
    <p>先後　　：{{ form.first_or_second }}</p>
    <p>勝敗　　：{{ form.result }}</p>
    <p>棋譜</p>
    <p>{{ form.kifu }}</p>
    <p>メモ</p>
    <p>{{ form.memo }}</p>
  </form>
</div>
{% endblock content %}

{% block extra_js %}
<script>
document.getElementById('generate-slug').addEventListener('click', function() {
  const now = new Date();
  const year = now.getFullYear();
  const month = String(now.getMonth() + 1).padStart(2, '0');
  const day = String(now.getDate()).padStart(2, '0');
  const hours = String(now.getHours()).padStart(2, '0');
  const minutes = String(now.getMinutes()).padStart(2, '0');
  const seconds = String(now.getSeconds()).padStart(2, '0');
  
  const slug = `未分類/${year}/${month}${day}/${hours}${minutes}${seconds}`;
  document.getElementById('slug').value = slug;
});
</script>
{% endblock extra_js %}
