{% extends 'base.html' %}
{% block extra_css %}
{% endblock extra_css %}

{% block title %}エクスプローラー{% endblock title %}

{% block content %}
<div class="padding-all">
  <h1 class="title is-1 has-text-centered">エクスプローラー</h1>
  <p>comming soon...</p>
  <p>
    {% for p in parent_folders %}
    <a href="{{ reverse(master, 'explorer', username=username, slug_base64=p.fullpath_base64) }}">{{ p.name }}</a>
    {% if not loop.last %} / {% endif %}
    {% endfor %}
  </p>
  {% for row in rows_folder %}
  <p>
    <a href="{{ reverse(master, 'explorer', username=username, slug_base64=row.fullpath_base64) }}">{{ row.name }}</a>
    row.counter
  </p>
  {% endfor %}
  {# {% for v in folders %} #}
  {# <p>{{ v }}</p> #}
  {# {% endfor %} #}
  {# <br> #}
  {# {% for v in base64_fullpaty_folders %} #}
  {# <p>{{ v }}</p> #}
  {# {% endfor %} #}
  {# <br> #}
  {# {% for v in files %} #}
  {# <p>{{ v }}</p> #}
  {# {% endfor %} #}
  {# <br> #}
  {# {% for v in kids %} #}
  {# <p>{{ v }}</p> #}
  {# {% endfor %} #}
</div>
{% endblock content %}

{% block extra_js %}
{% endblock extra_js %}
