{% extends 'base.html' %}
{% block extra_css %}
{% endblock extra_css %}

{% block title %}エクスプローラー{% endblock title %}

{% block content %}
<div class="padding-all">
  <h1 class="title is-1 has-text-centered">エクスプローラー</h1>
  <p>comming soon...</p>
  {% for v in folders %}
  <p>{{ v }}</p>
  {% endfor %}
  {% for v in base64_fullpaty_folders %}
  <p>{{ v }}</p>
  {% endfor %}
  {% for v in files %}
  <p>{{ v }}</p>
  {% endfor %}
  {% for v in kids %}
  <p>{{ v }}</p>
  {% endfor %}
</div>
{% endblock content %}

{% block extra_js %}
{% endblock extra_js %}
